
/*****************************Mise en forme de l'entet***************************************/
	.tete{
		background-image: url("../images/1.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: inherit;
		height: 851px;
		color: white;
	}
	.navbar{
		background: inherit;
		border: none !important;
		border-bottom: 1px solid rgba(164,168,171,0.8) !important;
	}
	.navbar-nav a{
		color: white !important;
	}
	.navbar-nav li{
		padding-top: 50px;
	}
	.tete-top{
		border-bottom: 1px solid rgba(164,168,171,0.8);
	}
	.brand{

	}
	/*.current{
		padding-top: 16px;
		border-bottom: 3px solid rgb(252,149,0);

	}*/

	.carousel-zone{
		text-align: center; 
		margin-top: 180px;
		margin-bottom: 125px;
	}
	.navigation ul a:hover{
		color: rgb(252,149,0) !important;
		border-bottom: 3px solid rgb(252,149,0) !important;
	}
	.navigation ul a:focus,active{
		color: rgb(252,149,0) !important;
		border-bottom: 3px solid rgb(252,149,0) !important;
	}
/*******************Mises en formes communes************************************/
	.orange{
		color: rgb(252,149,0);
	}
	/*Model des titres de pages*/
	.titre{
		padding: 30px;
		text-align: center;
		font-size: 50px;
	}
	.special{
		font-family: "Arial Black";
		color: white;
		font-size: 36px;
	}
	.indent{
		text-indent: 15px;
	}
	.contextual{
		padding: 5px 0px 5px 0px !important;
		background-color: inherit !important;
		border:none !important;
		opacity: 0.5;
	}
/***************************Mise en forme de Welcome********************************/
	.welcome_img{
		margin-bottom: 20px;
	}
	.welcome_text{
		font-size: 12px;
		text-align: center;
	}
	#home img[class="img-thumbnail"]{
		background-color: rgb(230,229,225);
	}

/***************************Mise en forme de About********************************/
	#about{
		background-color: rgb(230,229,225);
		text-align: left;
	}
	#about img[class="img-thumbnail"]{
		background-color: white;
	}
	.about_img{
		margin-bottom: 50px;
	}
	.about_subtitle{
		margin-top: 0px;
	}
	.about_textArea{
		padding-top: 0px!important;
	}
	.about_list li{
		margin-left: 0px !important;
	}
/****************Mise en forme Services*******************/
	#services img[class="img-thumbnail"]{
		background-color: rgb(230,229,225);
		padding: 0px !important;
	}
	.services_fa{
		font-size: 30px !important;
		color: white;
		margin-top: 17px;
	}
	.services_col{
		height:65px;
		width: 65px;
		border-radius: 50%;
		background-color: lightgray;
	}
	.services_row{
		text-align: center;
	}
/*********************Mise em forme Blog**************************/
	#blog{
		background-image: url("../images/b1.jpg");
		color: white;
	}
/*Mise en forme news*/
.news_move{
	margin-left: 20px;
}
/*mise en forme clients feedback*/
.clients{
	background-image: url(../images/7.jpg);
}
.clients_block{
	margin-top: 40px;
	margin-bottom: 40px;
}