
/**************** Entete de notre page *******************/
	.barre_navigation{
		position: absolute !important; top: 50px !important;
		width: 99% !important;
		margin-left: -1% !important;
		padding-bottom: 35px !important;
		background: inherit;
		border: none;
	}
	.entete{
		background-image: url(../images/1.jpg) !important;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
	}
	.carousel_zone{
		text-align:center; 
		margin-top: 200px;
		margin-bottom: 30px;

		/*border:1px solid cyan;*/
	}
	.carousel-indicators .active{
		background-color: rgb(252,149,0) !important;
		border:none;
	}
	.carousel-indicators li{
		background-color: white !important;
	}
	.carousel-inner .item{
		height: 250px;
	}
	.onglet_menu_item{
		text-align: center !important;
		color: white !important;
		padding-bottom: 25px !important;
	}

	.onglet_menu_item:active{
		color: rgb(252,149,0) !important;
		border-bottom: 3px solid rgb(252,149,0) !important;
	}
	.onglet_menu_item:hover{
		color: rgb(252,149,0) !important;
		border-bottom: 3px solid rgb(252,149,0) !important;
	}
	.onglet_menu_item:focus{
		color: rgb(252,149,0) !important;
		border-bottom: 3px solid rgb(252,149,0) !important;
	}

	.gros_blanc{		/*Taille du texte dans lE brand*/
		font-family: "Arial Black";
		font-size: 36px;
		font-weight: bold;
		color: white;
	}
	.navbar li a{
		color: rgb(230,229,225);
	}
	.ligne_navigation{
		border-bottom: 1px solid rgb(180,180,180);
	}
/**************** Notre Block Welcome  *******************/
	.welcome_text{
		font-size: 14px;
		color: rgba(179,179,179,1);
		text-align: center;
		margin-top: 20px;
	}










/************* Styles Communs ******************/
	.orange{
		color: rgb(252,149,0);
	}
	.banking{
		font-size: 36px;
		margin-left: 10px;
	}
	.titre{
		padding: 30px;
		text-align: center;
		/*font-size: 50px;*/
	}
	#home img[class="img-thumbnail"]{
		background-color: rgb(230,229,225);
	}



/************************Responsive*****************************/
	/*********************Sur Telephone******************/
		@media only screen and (max-width: 767px) {

		/******* Responsive Entete ******/
			.barre_navigation{
				position: absolute !important; top: 5px !important;
				width: 99% !important;
				margin-left: -3% !important;
			}
			.onglet_menu_item{	/*Background des onglets de navigation*/
				background-color: rgba(0,0,0,0.6) !important;
			}
			.onglet_menu{
				border-bottom: 2px solid rgb(252,149,0) !important;
			}
			.onglet_menu_item{
				padding-bottom: 15px !important;
			}
			.carousel_zone{
				margin-top: 80px;
				width: 98%;
			}
			.carousel-inner .item{
				height: 200px;
			}
			.gros_blanc{		/*Taille du texte dans lE brand*/
				font-family: "Arial Black";
				font-size: 16px;
				font-weight: bold;
				color: white;
			}
		/******* Responsive Welcome *****/
			.welcome_text{
				margin-top: 20px;
			}



		}

	/*********************Sur Tablette ******************/
		@media only screen and (min-width: 768px) {

		/****** Responsive Entete ******/
			.navbar-brand{    /*Marge du brand*/
				margin-left: 25px !important;
			}
			.onglet_menu{	/*Marge des onglets de navigation*/
				margin-right: 25px !important;
			}
			.onglet_menu_item{	/*Background des onglets de navigation*/
				background-color: inherit !important;
			}
			.carousel_zone{
				margin-top: 150px;
			}

		}

	/*******************Sur Grand Ecran******************/
		@media only screen and (min-width: 992px){

		/****** Responsive Entete ******/
			.navbar-brand{	/*Marge du brand*/
				margin-left: 50px !important;
			}
			.onglet_menu{	/*Marge des onglets de navigation*/
				margin-right: 50px !important;
			}
			.onglet_menu_item{	/*Background des onglets de navigation*/
				background-color: inherit !important;
			}
		/******* Responsive Welcome *****/
			.welcome_text{
				margin-top: 20px;
			}

		}

	/****************Sur extra grand Ecran***************/
		@media only screen and (min-width: 1200px) {

		/****** Responsive Entete ******/
		 	.navbar-brand{	/*Marge du brand*/
				margin-left: 80px !important;
			}
			.onglet_menu{	/*Marge des onglets de navigation*/
				margin-right: 80px !important;
			}
			.onglet_menu_item{	/*Background des onglets de navigation*/
				background-color: inherit !important;
			}
		/******* Responsive Welcome *****/
			.welcome_text{
				margin-top: 20px;
			}

		}
