.entete{
background-image: url(../images/1.jpg);
background-repeat: no-repeat;
background-size: 100%;
height: 78.8%;
}

.haut_1{
    border-bottom: 1px solid rgb(202, 200, 200);
    height: 100px;
    font-size: 15px;
}

.haut_2{
    margin-right: 100px;
    margin-top: -43px;
}
/* .haut_2 a:active{
    color: orange;
    border-bottom: 2px solid orange;
} */
.haut_2 a{
    color: white !important;
}
.haut_2 a:hover{
    background-color: none;
    color: orange !important;
}

.haut_2 a:focus{
    background-color: none;
    color: orange !important;
    border-bottom: 3px solid orange;
}

.texte{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 42px;
}

.texte1{
    font-family: Arial black;
    color: white;
}

.texte2{
    color: rgb(244, 153, 20);
}

.corps{
    height: 500px;
    margin-top: 50px;
}

.corps_slide{
    bottom: -100px !important;
}
.carousel-indicators .active{
    background-color: orange !important;
}

.carousel-indicators li{
    background-color: white;
}

.text_M{
    font-family: Arial black;
    text-align: center;
    color: white;
    font-size: 44px;
    margin-top: 35px;
}

.text_m{
    font-family: Times;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 45px;
}

/* Debut de la Partie Welcome */
.Bienvenue{
    height: 650px;
}

.titre{
    font-family: Verdana;
    font-size: 50px;
    color: orange;
    text-align: center;
    margin-top: 25px;
}

.bord_img{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    margin-top: 30px;  
}

.para{
    margin-top: 30px;
    text-align: center;
    color: grey;
    font-family: sans-serif;
    font-size: 15px;
}

  /* Debut de la Partie About */
.About{
    background-color: rgb(228, 228, 228);
    height: 600px;
}

.titre2{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

.parti_about{
    margin-top: 120px;
}

.list_1{
    font-size: 13px;
    margin-top: 10px;
    list-style: none;
    color: rgb(180, 180, 180);
    font-family: 'Franklin Gothic Medium';

    padding-right: 5px;
    padding-top: 5px;
}

.text_us{
    margin-top: 15px;
    margin-bottom: 20px;
	font-size: 17px;
	line-height: 25px;
    padding-right: 5px;
    padding-top: 5px;
}

.no{
    padding-left: 0px;
}

  /* Debut de la Partie About */
.services{
    height: 800px;
}

.parti_services{
    margin-top: 30px;
}

.text_services{
    color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.h4_services{
    font-family: Arial black;
    margin-top: 25px;
    margin-bottom: 20px;
}

.img_services{
    height: 80px;
}

.img_text{
    color: rgba(255, 166, 0, 0.795);
    font-family: Arial, Helvetica, sans-serif;
}

.text_services2{
    color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
}

.services_fa{
    background-color: grey;
    margin-top: 120px;
}

.services_row{
    font-weight: bold;
    margin-left: 20px;
}

.marketing{
    margin-top: 20px;
}

.Our_blog{
    background-image: url(../images/b1.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.text_OurBlog{
    margin-top: 200px;
}

.text1_OurBlog{
    color: white;
    font-size: 40px;
    margin-left: 25px;
    font-family: Arial black;

}

.text2_OurBlog{
    color: white;
    font-family: Arial black;
    font-size: 13px;
}


.Clients{
    background-image: url(../images/7.jpg);
    height: 300px;
}













 /* Debut du Responsive Pour la taille de la TABLET */
 @media screen and (max-width: 992px) and (min-width: 768px) {
    .texte{
        margin-left: 0px;   
    }
    .haut_2{
        margin-right: 0px;
    }
    .corps{
        height: 400px;
        margin-top: 110px;
    }
    .text_M{
        font-size: 30px;
    }
    #option{
        padding-right: 50px;
        padding-left: 50px;
    }

    /* Responsive de la Partie Welcome */
    



    
}

/* Debut du Responsive Pour la taille du TELEPHONE */
@media screen and (max-width: 768px) {
    .texte{
        margin-top: 5px;
        margin-left: 0px;
        font-size: 32px;
    }

    .text_M{
        font-size: 22px;
        margin-top: 15px;
    }

    .text_m{
        font-size: 10px;
    }

    .haut_1{
        height: 60px;
    }
    .haut_2{
        margin-top: -2px;
        width: 100%;
        text-align: center; 
        background-color: #000000c7; 
        z-index: 20;
        position: absolute;
    }
    .volu .but1{
        
        border-color: white;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: white;
    }
    .corps{
        margin-top: 10px;
        z-index: 10;
        height: 1000px;
    }
}