/************************ General ***********************************************************/
/*******************************************************************************************/
				body{
					color: black;
				}

				.container-fluid .Bloc-Principal{
						margin-bottom: 10px;
				}

				.panel{
						border: inherit;
						background-color: inherit;
						-webkit-box-shadow: inherit;
						margin: 0px;
						padding: 0px;
				}

				.panel-heading{
						color: orange;
						background-color: none;
				}

				.panel-body{
						border: inherit ;
						background-color: inherit;
						padding: 10px;
				}


				.list-group{
						border: none;
						background-color: inherit;
				}

				.list-group-item{
						border: none;
						background-color: inherit;
						padding-left: 0px;
						padding-right: 0px;
						padding-right: 5px;
						padding-top: 5px;
				}

				.thumbnail{
						padding: 0px !important;
						background-color: inherit;
						border: inherit;
				}


/*********************** Entete ********************************/
/***************************************************************/
				.Entete{
					background-image: url("../images/1.jpg");
					background-repeat: no-repeat;
					background-size: cover;
					margin-bottom: 30px;
				}

				.Navigation{
					background-color: inherit;
					border-top: inherit;
					border-right: inherit;
					border-left: inherit;
					border-bottom: 1px solid rgb(139 139 139);
				}

				.Menu li a{
					color: white !important;
				}

				.Menu li a:hover{
					border-bottom: 1px solid orange;
					color: orange !important;
					font-weight: bold;
				}

				.Net{
					color: white;
					font-family: Arial Black;
				}

				.Banking{
					color: orange;
					font-family: Yu Gothic UI Semibold;
				}

				.carousel-indicators li{
					background-color: orange;
					border: none;
					width: 14px;
					height: 14px;
				}

				.Entete1-Texte1{
					color: white;
					text-align: center;
					font-family: Arial Black;
				}

				.Entete1-Texte2{
					color: white;
					text-align: center;
					font-family: Yu Gothic UI Semibold;
				}

				.navbar-toggle{
						background-color: inherit;
				}

				.navbar-default .navbar-toggle .icon-bar {
    		background-color: white;
				}


/*********************** Welcome *******************************/
/***************************************************************/
					.Welcome-image .img-thumbnail{
							border: 7px solid rgb(234 234 234);
							opacity: 0.9;
							padding: 0px;
							margin-left: 10px;
							margin-bottom: 30px;
					}

					.Welcome-Texte1{
							color: rgb(200 200 200);
						}


/********************** About Us *******************************/
/***************************************************************/
				#About{
							background-color: rgb(234 234 234);
				}

				.bloc-texte-SED{
							color: black;
							font-weight: bold;
				}

				.bloc-texte{
						padding: 0px;
				}

				.bloc-liste{
									color: rgb(180 180 180);
				}

				.about-image{
						border: 5px solid white;
				}


/*********************** Blog ********************************/
/***************************************************************/
		.Blog{
				 background-image: url("../images/b1.jpg");
					background-repeat: no-repeat;
					background-size: 100%;
					height: 600px;
					margin-bottom: 30px;
					width: 98%;
					color: white;
		}


/****************** ClientsFeedback ****************************/
/***************************************************************/
		.ClientsFeedback{
				 background-image: url("../images/7.jpg");
					background-repeat: no-repeat;
					background-size: 100%;
					height: 770px;
					margin-bottom: 30px;
					width: 98%;
					color: white;
		}


/********************* MAP GOOGLE *****************************/
/*************************************************************/
		.map-responsive {
		overflow:hidden;
		padding-bottom:56.25%;
		position:relative;>
		height:0;
		margin-top: 50px;
		}

		.map-responsive iframe {
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
		}


/********************* Pied *********************************/
/************************************************************/
	.Pied{
			 background-image: url("../images/7.jpg");
				background-repeat: no-repeat;
				background-size: 100%;
				height: 640px;
				width: 98%;
				color: white;
	}



/************** @ media ******************************************************************/
/*****************************************************************************************/


/************** LAPTOP(md) ***********************************/
/*************************************************************/
@media only screen and (min-width: 1101px){
		/*********************** Entete ********************************/
		/***************************************************************/
					.Navigation{
						margin-top: 50px;
					}

					.Logo{
						margin-left: 150px;
					}


					.Net{
						margin-bottom: 10px;
						font-size: 35px;
					}

					.Banking{
						margin-bottom: 10px;
						margin-left: 10px;
						font-size: 35px;
					}

					.Menu{
						font-size: 15px;
						background-color: inherit;
						margin-right: 120px;
						position: relative;
						bottom: 5px;
					}

					.Menu li a{
						font-size: 20px;
						padding-bottom: 20px;
					}

					.Entete1{
						margin-top: 260px;
						position: relative;
						bottom: 100px;
					}

					.Entete1-Texte1{
						font-size: 45px;
					}

					.Entete1-Texte2{
						font-size: 13px;
					}

					.Entete{
						height: 851px;
					}


		/*********************** Welcome *******************************/
		/***************************************************************/
						.Welcome-texte{
									font-size: 50px;
									margin-top: 50px;
									margin-bottom: 50px;
								}


		/********************** About Us *******************************/
		/***************************************************************/
					.About{
						font-size: 50px;
						margin-top: 50px;
						margin-bottom: 30px;
					}


					#About{
							margin-top: 20px;
					}

					.bloc-texte-SED{
							font-size: 25px;
							position: relative;
							bottom: 20px;
							right: 13px;
							margin-bottom: -10px;
					}

					.bloc-texte-lorem{
							margin-bottom: 20px;
							font-size: 14px;
							line-height: 25px;
					}

					.bloc-liste{
							font-size: 14px;
					}

					.list-group{
							margin-bottom: 50px !important;
					}

					.bloc-texte{
							padding-right: 190px;
					}
}

/************** TELEPHONE(xs) *********************************/
/*************************************************************/
@media only screen and (max-width: 768px){ 
			/*************** Entete **********/
			/********************************/
						.Navigation{
							margin-bottom: 10px;
							border-bottom: inherit;
						}

						.Menu li a{
							font-size: 15px;
							padding-top: 10px;
							margin-top: 2px;
						}

						.Menu {
							background-color: black;
							opacity: 0.8;
							position: relative;
							bottom: 10px;
							margin-left: 1px;
							margin-right: 1px;
						}

						.MenuReduit{
							background-color: inherit;
						}

						.MenuReduit span{
							color: white !important;
						}

						.Net{
							margin-bottom: 10px;
							font-size: 35px;
						}

						.Banking{
							margin-bottom: 10px;
							margin-left: 10px;
							font-size: 35px;
						}

						.Entete1{
							margin-top: 40px;
							position: relative;
							bottom: 50px;
						}

						.Entete1-Texte1{
							font-size: 35px;
						}

						.Entete1-Texte2{
							font-size: 10px;
						}



			/************** Welcome **********/
			/********************************/
							.Welcome-texte{
										font-size: 40px;
										margin-top: 20px;
										margin-bottom: 20px;
							}


	  /******** About Us ***************/
		 /********************************/
				.About{
							font-size: 40px;
							margin-top: 40px;
							margin-bottom: 30px;
				}

				#About{
						margin-top: 20px;
				}

				.bloc-texte-SED{
						font-size: 20px;
						position: relative;
						bottom: 20px;
						right: 13px;
						margin-bottom: -10px;
				}

				.bloc-texte-lorem{
						margin-bottom: 30px;
						font-size: 12px;
						line-height: 25px;
				}

				.list-group{
						margin-bottom: 50px !important;
				}



}

/************** TABLETTE (sm) ********************************/
/*************************************************************/
@media only screen and (min-width: 769px) and (max-width: 1100px){
			/*************** Entete **********/
			/********************************/
								.Navigation{
									margin-top: 30px;
								}

								.Logo{
									margin-left: 50px;
								}

																				
								.Net{
									margin-bottom: 10px;
									color: white;
									font-size: 30px;
									font-family: Arial Black;
								}

								.Banking{
									margin-bottom: 10px;
									margin-left: 10px;
									color: orange;
									font-size: 30px;
									font-family: Yu Gothic UI Semibold;
								}

								.Menu{
									font-size: 15px;
									background-color: inherit;
									margin-right: 20px;
								}

								.Menu li a{
									font-size: 15px;
								}

								.Entete1{
									margin-top: 100px;
									position: relative;
									bottom: 70px;
								}

								.Entete1-Texte1{
									font-size: 40px;
								}

								.Entete1-Texte2{
									font-size: 11px;
								}

								.Entete{
									height: 700px;
								}


			/************** Welcome **********/
			/********************************/
										.Welcome-texte{
													font-size: 50px;
													margin-top: 20px;
													margin-bottom: 20px;
										}


 	 /************** About Us **********/
		 /*********************************/
				.About{
							font-size: 50px;
							margin-top: 20px;
							margin-bottom: 20px;
				}

				#About{
						margin-top: 20px;
				}

				.bloc-texte-SED{
						font-size: 26px;
						position: relative;
						bottom: 20px;
						right: 13px;
						margin-bottom: -10px;
				}

				.bloc-texte-lorem{
						margin-bottom: 30px;
						font-size: 14px;
						line-height: 25px;
				}

				.list-group{
						margin-bottom: 50px !important;
				}

				.bloc-texte{
						padding-left: 50px;
						padding-right: 50px;
				}

				.bloc-liste{
						font-size: 14px;
				}


}			